.venv
credentials.json
.env
__pycache__/
migrations/
db.sqlite3
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.~ 
staticfiles/
media/
local_settings.py
.DS_Store
*.bak
*.tmp
node_modules/
.env.*
*.coverage
htmlcov/
*.sass-cache
*.egg-info/
dist/
build/
*.manifest
*.spec
*.lock